@import './node_modules/bulma/bulma.sass';

html, body {
	height: 100%;
}
body{
	background: whitesmoke;
	#app{
		aside{
			background: white;
			height: 100%;
		}
	}
}

input {
	border: 1px solid lightgrey;
}